<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex justify-content-between w-50 m-4 mx-auto">
        <div class="new_dojo bg-secondary text-white p-2 border border-primary rounded-2" >
            <div class="dojo_header d-flex flex-row mb-3 align-items-center">
            <h4>New </h4>
            <h3 class="text-dark ps-1 pe-1">| </h3>
            <h4 class="text-muted"> Dojo</h4>
            </div>
            <form class="" action="/add_new_dojo" method="POST">
            <label class="col-form-label">Name:</label><input class="form-control" type="text" id="name" name="name">
            <button type="submit" class="btn btn-primary mt-2" id="add_dojo" name="add_dojo">Add Dojo</button>
            </form>
        <a href="/add_ninja_form" class="text-black">Add Ninja</a>
        </div>

        <div class="all_dojos bg-primary text-white d-flex p-2  border border-primary rounded-2">
            <ul class="list-unstyled">
                {% for dojo in all_dojos %}
                    <li>
                    <a href="/{{dojo.id}}" class="list-group-item list-group-item-action">
                        {{dojo.name}}
                    </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>