<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synchronys</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body class="bg-dark bg-gradient">
    <div class= "container bg-transparent w-100 mx-auto text-white d-flex flex-wrap rounded" style="height: 800px;">
        
        <div class="about-synchronys bg-secondary bg-gradient border-bottom border-top border-light mb-3 border-opacity-50 text-dark col-2 lh-1 d-flex align-items-center flex-column justify-content-start m-4 rounded-pill text-wrap text-center" style = "height: 600px; font-size: 14px; --bs-bg-opacity: .5;">
            <img src="https://i.imgur.com/I0PRuEd.jpg" class="w-50 rounded-circle m-4">

            <p class="p-2">Supporting a child shouldn't be a hassle.</p>

            <p class="m-2">That's why we're here.</p>

            <p class="m-2">Synchronys is an aggregate database that allows you to find a child in need without the struggle of browsing many individual foundation websites. </p>
            
                <p class="m-2" style = "font-size: 14px;">Please consider also donations to organizations like <a href="https://www.unicefusa.org/" class="link-light">UNICEF</a> or <a href="http://www.braveheartchildren.org/donate" class="link-light">Brave Heart.</a></p>
        </div>

        <div class="container bg-transparent text-dark col-8 m-4 h-75 d-flex flex-column align-items-center">
            <div class="header bg-transparent text-dark col-12 h-50 rounded-4 d-flex flex-row">
                <div class="featured1 bg-secondary bg-gradient border-bottom border-top border-light mb-3 border-opacity-50 text-dark col-4 h-100 rounded-4 me-1" style = "--bs-bg-opacity: .5;">

                </div>
                <div class="featured2 bg-secondary bg-gradient border-top border-bottom border-light mb-3 border-opacity-50 text-dark col-4 h-100 rounded-4 me-1" style = "--bs-bg-opacity: .5;">

                </div>
                <div class="featured3 bg-secondary bg-gradient border-bottom border-top border-light mb-3 border-opacity-50 text-dark col-4 h-100 rounded-4 me-1" style = "--bs-bg-opacity: .5;">

                </div>

            </div>
            <div class="search-bar bg-transparent text-dark col-10 rounded-5 m-2 d-flex justify-content-between" style ="height: 35px;">
                <button class="btn btn-primary rounded-3 ms-2" style=" width: 90px;">Blank</button>
                <button class="btn btn-primary rounded-3" style=" width: 90px;">Blank</button>
                <button class="btn btn-primary rounded-3" style=" width: 90px;">Blank</button>
            </div>

            <div class="featured bg-secondary bg-gradient border-bottom border-top border-light mb-3 border-opacity-50 text-dark col-12 rounded-4 m-2" style = "height: 300px; --bs-bg-opacity: .5;">
                
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
