<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin: 20px auto; width: 650px; text-align: center;">
        <h3>Add User</h3>
        <form action="/create/user" method="POST" style="width: 450px; display: flex; flex-direction: column; justify-content: center; align-items: flex-end;">
            <label for="first_name">First Name: <input type="text" id="first_name" name="first_name" placeholder="First Name"></label>
            <label for="last_name">Last Name: <input type="text" id="last_name" name="last_name" placeholder="Last Name"></label>
            <label for="email">Email: <input type="text" id="email" name="email" placeholder="Email"></label>
            <a href="/create/new"><button type="submit" style="margin-top: 5px;">Submit</button></a>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>