<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="header d-flex flex-direction-row align-items-center justify-content-around w-100">
      <h1>Welcome {{ user_in_db.first_name }} {{ user_in_db.last_name }}!</h1>
    <div class="navigation d-flex justify-content-around align-items-center w-25">
        <a href="/magazines/new">Add Magazine</a>
        <a href="/user/{{ user_in_db.id }}/update_user">Account</a>
        <a href="/logout"><button type="button" class="bg-primary btn" mt-2>Logout</button></a>
    </div>
  </div>
  <div class="container w-75">
    <h2>Magazines</h2>
    <div class="magazines border border-dark rounded w-50">
      <ul class="list-unstyled p-2">
        {% for magazine in all_magazines %}
          <li><a href="/magazines/{{ magazine.id }}">{{ magazine.name }}</a> added by {{ magazine.first_name }} {{magazine.last_name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>