<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="navigation d-flex justify-content-end align-items-center w-75 mx-auto pt-2">
        <a href="/magazines/new" class="pe-4">Add Magazine</a>
        <a href="/dashboard" class="pe-4">Dashboard</a>
        <a href="/logout" class="pe-4"><button type="button" class="bg-primary btn" mt-2>Logout</button></a>
    </div>

    <div class="container w-50 d-flex">
        <div class="form-left">
            <h2>Update User</h2>
            <form action="/user/{{one_user.id}}/update" method="POST" style="width: 400px; display: flex; flex-direction: column; align-items: flex-start;">
                <label for="first_name">First Name: </label>
                <input type="text" id="first_name" name="first_name" value="{{one_user.first_name}}" placeholder="{{one_user.first_name}}">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value ="{{one_user.last_name}}" placeholder="{{one_user.last_name}}">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value ="{{one_user.email}}" placeholder="{{one_user.email}}">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
        <div class="form-right">
            <h2>User's Magazines</h2>
            <ul class="list-unstyled p-2">
                {% for magazines in all_user_magazines %}
                    <li>{{ magazines.name }} <a href="/magazines/{{magazines.id}}/delete">Delete</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>